@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: theme(colors.blue.700);
  --secondary-color: ;
  --quaternary-color: #7c7c7c;
  --light-color: #FFF;
  --dark-color: #000;
  --body-color: #cacaca;

  --lateral-card-height: 240px;
  --middle-card-height: calc(var(--lateral-card-height) * 1.25);

  --default-radius: 24px;

  --title-card-font-size: 1.6em; /* MainContent.jsx */
  --title-trending-topics: 1.6em; /* SideContent.jsx */

  --person-img-width: 40px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-color);
  font-family: "Outfit"!important;
}

input {
  outline: none;
}

@layer components {

  .input {
    @apply px-3 py-2;
    border-radius: var(--default-radius);
  }

  .button {
    @apply px-3 py-2;
    border-radius: var(--default-radius);
  }
}
