@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: theme(colors.blue.700);
  --secondary-color: ;
  --quaternary-color: #7c7c7c;
  --light-color: #FFF;
  --dark-color: #000;
  --body-color: #cacaca;

  --red-color: theme(colors.red.600);
  --success-color: theme(colors.green.600);

  --hover-primary-color: theme(colors.blue.900);

  --lateral-card-height: 240px;
  --middle-card-height: calc(var(--lateral-card-height) * 1.25);

  --default-radius: 24px;

  --title-card-font-size: 1.6em; /* MainContent.jsx */
  --title-trending-topics: 1.6em; /* SideContent.jsx */
  --title-modal: 1.6em; /* ModalPost.jsx */

  --person-img-width: 40px;
  --publish-max-height: 600px;
  --textarea-modal-post-height: 270px;
  --image-modal-post: 270px;
  --person-post-width: 50px;

  --btn-followers: 120px;
  --icon-modal: 36px; /* ModalPost.jsx */

  --scrollbar-width: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-color);
  font-family: "Outfit"!important;
}

input {
  outline: none;
}

@layer components {

  .input {
    @apply px-3 py-2;
    border-radius: var(--default-radius);
  }

  .button {
    @apply px-3 py-2;
    border-radius: var(--default-radius);
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--quaternary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color);
}
