.container-error {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-error-style {
    padding: 8px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.container-error-details {
    margin-bottom: 64px;
    text-align: center;
}

.container-error-details h1 {
    font-size: 12rem;
    color: var(--tertiary-color);
    filter: drop-shadow(0 0 8px var(--secondary-color));
    line-height: 100%;
}

.container-error-details p {
    color: var(--tertiary-color);
    font-size: 1.3em;
    margin: 0;
}

.container-error-btn {
    display: flex;
    justify-content: flex-end;
}

.container-error-btn a {
    cursor: pointer;
    background-color: var(--light-color);
    padding: 8px;
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
    transition: var(--transition-03);
}

.container-error-btn a:hover {
    color: var(--secondary-color);
}

.error-btn-icon {
    margin-left: 4px;
}

/* responsive */
@media (max-width: 400px){
    .container-error-details h1 {
        font-size: 10em;
    }

    .container-error-details p {
        font-size: 1.1em;
    }
}