.container-summary {
    margin-left: var(--sidebar-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-title {
    margin: 12px 12px 0 12px;
}

.container-title h1 {
    color: var(--tertiary-color);
    font-size: 2em;
    display: flex;
    align-items: center;
}

.icon-title {
    padding-right: 6px;
}

.container-style-summary {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, minMax(0, 1fr));
    height: 90%;
    padding: 0 12px 12px 12px;
}

.section-summary {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 6px;
}

.section-summary h2 {
    font-size: 1.4em;
    text-transform: capitalize;
}

.section-summary label {
    font-size: 2.8em;
}

.container-date {
    margin-left: auto;
    margin-right: 12px;
    padding: 8px;
    border: 1px solid var(--light-color);
}

.container-date label {
    margin: 0;
    color: var(--light-color);
    font-weight: 100;
    font-size: 1.2em;
}